@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.great-vibes-regular{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
  
/* -------------------------------------------------shared styles --------------------------------------------------------*/
.display-flex{
    display: flex;
}
.header{
    max-width: 1440px;
}
.white{
    color: rgba(255, 255, 255, 1);
}
.white-2{
    color: rgba(255, 255, 255, 0.4);
}
.bg-primary{
    background-color: rgba(17, 17, 17, 1)
}
.text-orange{
    color: #E6533C;
    font-weight: 800;
}
.button-color{
    background-color: #E6533C;
}
.optional-banner-btn{
    display: none;
}
.gray-bg{
    background-color: rgba(34, 34, 34, 1);
}
.gray-bg-light{
    background-color: rgb(59, 55, 55);
}
/* Header styles */


/*------------------------------------------------------------- navbar styles---------------------------------------------- */
.navbar{
    justify-content: space-between;
    margin: 3.5rem 11.5rem;
}
.nav-item{
    list-style: none;
    margin-right: 47px;
}
.n-item{
    margin-left: -2.5rem;
}
.brand{
    font-size: 2.25rem;
    margin: 0px;
}
.nav-link{
    text-decoration: none;
    margin-left: 0px;
}
.nav-links{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    list-style: none;
    align-items: center;
}
.home-btn{
    border: none;
    border-radius: 46px;
    padding: 8px 20px;
}
.banner{
    max-width: 1440px;
    margin: 0 11.5rem;
}

.burger-menu {
    display: none;
    font-size: 24px;
}

/* ------------------------------------------------------banner styles ----------------------------------------------------*/
.banner-btn-1{ 
    padding : 1rem 2.9rem;
    border: none;
    border-radius: 42px;
    font-weight: 600;
    font-size: 1.1rem;
    margin-right: 14px;
}
.banner-btn-2{ 
    padding : 1rem 2.9rem;
    border: 1px solid white;
    border-radius: 42px;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: rgba(17, 17, 17, 1);
}
.banner-title{
    font-weight: 900;
    font-size: 4.9rem;
}
.banner-content{
    max-width: 599px;
    margin-right: 5.5rem;
}
.image-container {
    width: 100%; 
    max-width: 349px;
    max-height: 580px;
    overflow: hidden; 
    text-align: center;
}

.image-container img{
    width: 100%;
    height: auto;
    max-width: 100%;
}

.banner-btn{
    margin-top: 28px;
}
.banner-video{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #ffffff1a;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    width: 13rem;
    height: 6rem;
    margin-top: 27rem;
    margin-left: -27rem;
    gap: 1rem;
}
.circle{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 20px;
    background-color: #E6533C;
    margin-left: 1.44rem;
    border: none;
}
.vid-desc{
    margin: 1rem auto;
    font-size: 1.5rem;
    font-weight: 900;
}
.vid-desc-2{
   margin-bottom: 1rem;
}
.free-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffffff1a;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    width: 13rem;
    height: 6rem;
    position: relative;
    top: 7rem;
    left: 6rem;
}
.free{
    font-size: 2.5rem;
    margin: 1rem 0 0 0;
    font-weight: 900;
}
/* ----------------------------------main body part 1------------------------------------------------ */
.habit{
    flex-direction: column;
    margin: 13.2rem 12.6rem 0rem 12.2rem;
    max-width: 1044px;
    max-height: 452px;
}
.habit-title{
    font-weight: 900;
    font-size: 3rem;
}
.habit-desc{
    font-size: 1.12rem;
}
.habit-head{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.6rem;
}
.habit-pic{
    gap: 2.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.habit-pic img{
    border-radius: 90px;
}
.part-1, .part-2, .part-3, .part-4{
    width: 100%;
    height: 100%;
    max-width: 231px;
    max-height: 271px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
}

/* ----------------------------------run section-----------------------------------------------------*/
.run{
    margin-left: 12.5rem;
    margin-top: 9rem;
    padding: 2.5rem 3.3rem;
    max-width: 920px;
    max-height: 341px;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
}
.run-part{
    width: 100%;
    max-width: 443px;
    max-height: 290px;
    margin-right: 12.2rem;
}
.run-title{
    font-size: 3rem 11.9rem;
}
.run-desc{
    font-size: smaller;
}
.run-btn{
        /* position: relative; */
        color: white;
        padding : 1.2rem 3.2rem;
        border: none;
        border-radius: 42px;
        font-weight: 600;
        font-size: 1.1rem;
        margin-right: 0.9rem;
}
.run-img img{
    object-fit: cover;
    max-width: 366px;
    max-height: 312px;
    border-radius: 18px;
}

/*------------------------------------------------------bmi part 1-------------------------------------------------- */
.bmi-1{
    margin: 5.5rem 24rem;
}
.bmi-head{
    font-weight: 900;
    font-size: 3rem;
}
/* ----------------------------------------------------bmi part 2----------------------------------------------------- */
.bmi-title{
    font-weight: 900;
    font-size: 1.75rem;
}
.bmi-2{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}
.bmi-form{
    gap: 0.75rem;
}
.table-data{
    padding: 0.9rem 1.25rem;
}
.bmi-desc{
    max-width: 577px;
    max-height: 377px;
}
.bmi-input{
    padding: .8rem 0 0.8rem 1.25rem;
    font-weight: 600;
    margin-right: 0.75rem;
    margin-bottom: 0.4rem;
    border: 1px solid black;
    /* color: white; */
}
.bmi-gender{
    width: 12.38rem;
}
.bmi-activity{
    width: 25.68rem;
}
.calc-btn{
        color: white;
        padding : 0.8rem 2.7rem;
        border: none;
        border-radius: 42px;
        font-weight: 600;
        font-size: 1.1rem;
        margin-right: 0.9rem;
}
/* ------------------------------------------team------------------------------------------------------ */
.team-desc{
    text-align: center;
}
.team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
    background-color: rgba(72, 71, 71, 0.2);
    padding: 1.5rem;
    border-radius: 18px;
    margin-bottom: 3rem;
}
.container img{
    object-fit: cover;
}
.team-line{
    position: relative;
    bottom: 5rem;
    left: 1.25rem;
}
.team-pos{
    position: relative;
    bottom: 6rem;
    left: 1.25rem;
    font-size: smaller;
}
/* footer start */
.last{
    background-color: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: 2fr repeat(2,1fr);
    padding: 1.5rem;
}
.footer1{
    margin:  2rem;
    /* width: 100%;
    max-width: 1059px;
    max-height: 239px; */
}
.footer-2, .footer-3{
    text-align: left;
}
.l-items{
    list-style: none;
}
.title-white{
    font-size: 2rem;
}

/* -----------------------------------------responsive style for all section------------------------------------------ */
@media screen and (max-width : 576px) {
    .burger-menu {
        position: absolute;
        display: block;
        right: 20px;
    }
    .nav-links{
        display: none;
    }
    .brand{
        position: absolute;
        /* display: block; */
        /* right: 20px; */
    }
    .navbar{
        margin: 1.25rem;
    }
    .banner{
        margin: 1.25rem;
        display: flex;
        flex-direction: column;
    }
    .img-container img{
        object-fit: cover;
    }
    .banner-btn{
        display: none;
    }
    .optional-banner-btn{
        display: flex;
        justify-content: space-evenly;
        align-items: center; 
    }
    .optional-btn-1{
        padding : 1.2rem 3.2rem;
        border: none;
        border-radius: 42px;
        font-weight: 600;
        font-size: 1.1rem;
        margin-right: 0.9rem;
    }
    .optional-btn-2{
            padding : 1.2rem 2.9rem;
            border: 1px solid white;
            border-radius: 42px;
            font-weight: 600;
            font-size: 1.1rem;
            background-color: rgba(17, 17, 17, 1);
            margin-right: -6rem;
    }
    .banner-video{
        position: absolute;
        top: 26rem;
        right: 20rem;
    }
    .free-video{
        position: absolute;
        top: 41rem;
        left: 14rem;
    }
    .navbar, .banner{
        width: 100%;
    }
    /* .img-container{

        width: 100%;
        max-width: 576px;
        height: auto;
    } */
    .habit{
        flex-direction: column;
        margin: 25rem 0 0 0;
    }
    .habit-head{
        text-align: center;
        margin: 0;
    }
    .habit-pic{
        grid-template-columns: repeat(1,1fr);
        margin: 0 auto;
    }
    .run{
        flex-direction: column;
        margin: 65rem auto;
        max-width: 353px;
        max-height: 531px;
    }
    .run-title{
        font-size: 2rem;
    }
    .run-btn{
        margin-bottom: 2rem;
    }
    .run-part{
        text-align: center;
        margin: 0;
    }
    .bmi-1{
        margin: 0;
        margin-top: -64rem;
        text-align: center;
    }
    .bmi-2{
        display: flex;
        flex-direction: column;
    }
    .bmi-table{
        margin: 0 auto;
    }
    .bmi-calc{
        text-align: center;
    }
    .bmi-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /* .bmi-input{
        width: 100%;
        max-width:max-content;
    } */
    .container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .team-pic-5,.team-pic-4{
        display: none;
    }
    .last{
        /* flex-direction: column; */
        grid-template-columns:repeat(1,1fr);
        margin-bottom: -40rem;
        text-align: center ;
    }
}