@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.great-vibes-regular{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
  
/* shared styles */
.display-flex{
    display: flex;
}

.white{
    color: rgba(255, 255, 255, 1);
}
.white-2{
    color: rgba(255, 255, 255, 0.4)
}
.bg-primary{
    background-color: rgba(17, 17, 17, 1)
}
.text-orange{
    color: #E6533C;
    font-weight: 800;
}
.button-color{
    background-color: #E6533C;
}
/* Header styles */


/* navbar styles */
.navbar{
    justify-content: space-between;
}
.nav-item{
    list-style: none;
    margin-right: 47px;
}
.brand{
    font-size: 2.25rem;
    margin: 0px;
}
.nav-link{
    text-decoration: none;
    margin-left: 0px;
}
.nav-links{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    list-style: none;
    align-items: center;
}
.home-btn{
    border: none;
    border-radius: 46px;
    padding: 8px 20px;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner styles */
.banner-btn-1{ 
    padding : 1rem 2.9rem;
    border: none;
    border-radius: 42px;
    font-weight: 600;
    margin-right: 14px;
}
.banner-btn-2{ 
    padding : 1rem 2.9rem;
    border: 1px solid white;
    border-radius: 42px;
    font-weight: 600;
    background-color: rgba(17, 17, 17, 1);
}
.banner-title{
    font-weight: 900;
    font-size: 4.9rem;
}
.banner-content{
    max-width: 599px;
    margin-right: 5.5rem;
}
.banner-btn{
    margin-top: 28px;
}
